.father {
    display: flex;
    flex-direction:row-reverse;
    flex-wrap: wrap;
    justify-content:center;
    background-color: #cfcbd6;
  }
.father .titulo{
  margin-left: 0;
  text-align: left;
}
