
.father {
    display: flex;
    flex-direction:row-reverse;
    flex-wrap: wrap;
    justify-content:center;
    background-color: #cfcbd6;
    width: 100%;
    height: 1300px;
    padding: 10px;
  }
.father .titulo{
  margin-right: 470px;
  margin-top: 10px;
}
