*{
  margin: 0;
  padding: 0;

}
.cards{
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 0;
  margin-bottom: 20px;
}

.card-body{
  background-color: #fff;
  color: #000 !important;
}
