.row .col-md-12 {
  background-color: #020202;
  width: 1366px;
  height: 60px;
}

.row .col-md-12 .App-logo {
  width: 57px;
  height: 63px;
  margin-left: 30px;
  margin-bottom: 10px;
  margin-top: 11px;
}
