

.input .form{
  border-top: #000;
  border-left: none;
  border-right: none;
  border-color: #f3f3f3;
  border-bottom-left-radius: 0;
  border-style: #fff;
  background-color: #000;
  margin-bottom: 20px;
  margin-left: 20px;
  height: 100%;
  outline: 0px;
  color: #f3f3f3;
  line-height: 1;
}

 .input .form:focus{
  border-top: #000;
  border-left: #000;
  border-right: #000;
  border-color: #f3f3f3;
  border-bottom-left-radius: 0;
  border-style: #000;
  background-color: #000;
  margin-bottom: 20px;
  margin-left: 20px;
  height: 100%;
  outline: 0px;
}
