.side{
  background-color: #000;
  height: 100%;
  width: 100%;
}
.box {
  background-color: #403f4c;
  text-align: center;
  margin-left: 10px;
  letter-spacing: 0.001px;
}

h3{
  color: #f9f9f9;
  letter-spacing: 0.2px;
}
h4{
  color: #f9f9f9;
  letter-spacing: 0.2px;
}
